.hero {
  @apply absolute py-16 px-8 w-full h-full;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'hero-title hero-title hero-title hero-title .'
    'hero-title hero-title hero-title hero-title .'
    '. hero-banner hero-banner hero-banner hero-banner'
    'hero-scroller hero-banner hero-banner hero-banner hero-banner'
    'hero-scroller hero-banner hero-banner hero-banner hero-banner';

  &__title {
    @apply relative flex items-center justify-start;
    grid-area: hero-title;
    > h1 {
      @apply text-[5vw] font-title font-bold tracking-tighter leading-none w-full uppercase;
    }
    &--line {
      @apply relative flex items-center overflow-hidden pr-2;
      &-inner {
        @apply inline-block;
      }

      &:nth-child(2) {
        @apply pl-16;
      }
    }
  }
  &__banner {
    @apply relative h-full overflow-hidden;
    grid-area: hero-banner;
    > img {
      object-fit: cover;
    }
  }
  &__scroller {
    @apply relative flex items-end justify-center text-third;
    grid-area: hero-scroller;

    > svg {
      @apply relative h-auto w-3/4 px-8;
    }
  }
}
