:root {
  --slide-height: 100vh;
  --slide--helf-height: var(--slide-height) / 2;
}

.services__wrapper {
  height: calc(var(--slide-height) * var(--slides));

  @apply sticky w-full left-0 grid grid-cols-2 gap-4 place-items-start top-0;

  // > div {
  //   @apply m-2;
  // }
}
.services__inner {
  @apply relative w-full h-auto;
  &--item {
    @apply relative flex w-full h-[var(--slide-height)];
  }
}
.services__left {
  @apply col-span-1;
  &--item {
    @apply absolute py-16 px-4 w-full flex-col items-start justify-center;
    height: 100vh;
  }

  &--body {
    @apply absolute capitalize bottom-0 pb-40 pl-3.5 text-start block translate-y-10 opacity-0 max-w-lg will-change-transform transition-all duration-700 delay-100;
  }
  &--title {
    @apply relative w-full text-[4rem] font-title font-semibold capitalize overflow-hidden;
    > span {
      @apply relative inline-block mr-2 will-change-transform transition-transform duration-300;
    }
    > .id {
      @apply absolute top-0 text-lg px-1 -translate-x-full;
    }
    > span:nth-child(2) {
      @apply pl-4 translate-y-full;
    }
  }

  &--item.active {
    .services__left--title {
      > .id {
        @apply mr-2 translate-x-0;
      }
      > span:nth-child(2) {
        @apply translate-y-0;
      }
    }
    .services__left--body {
      @apply translate-y-0 opacity-100;
    }
  }
}
.services__right {
  @apply col-span-1;
  &--item {
    @apply p-0 items-center justify-end;
  }
  &--img {
    @apply relative w-full rounded-xl overflow-hidden;
    aspect-ratio: 1/1;
    > img {
      @apply absolute h-full w-full object-cover object-center scale-150;
    }
  }
}
