@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

@font-face {
  font-family: 'Hanken Grotesk Regular';
  src: url('../../public/fonts/HankenGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'AG';
  src: url('../../public/fonts/AGDisplayRegular-demo.ttf');
}
@font-face {
  font-family: 'Uncut';
  src: url('../../public/fonts/Uncut-Sans-Regular.otf');
}
@font-face {
  font-family: 'Helvetica';
  src: url('../../public/fonts/Helvetica.ttf');
}
@font-face {
  font-family: 'Bellina';
  src: url('../../public/fonts/Bellina\ Condensed.ttf');
}
