$ease: cubic-bezier(0.19, 1, 0.22, 1);

.mirror {
  @apply bg-gray-200 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-10 border-b border-gray-100;
}

.transition-all {
  transition: all 0.75s $ease;
}

.gradient {
  background: radial-gradient(80.99% 100% at 50% 0%, #00ff0a 0%, #36008e 100%),
    radial-gradient(50% 123.47% at 50% 50%, #efe7c8 0%, #36008e 100%),
    linear-gradient(301.28deg, #ff006b 0%, #48dd9e 100%),
    linear-gradient(294.84deg, #5a60e4 0%, #d30000 100%),
    linear-gradient(52.29deg, #000000 0%, #00ff85 100%),
    radial-gradient(100% 138.69% at 100% 0%, #0007a5 0%, #ff7a00 100%),
    radial-gradient(70.41% 100% at 50% 0%, #d5b300 0%, #2200aa 100%);
  background-blend-mode: screen, screen, lighten, overlay, lighten, difference, difference;
}

.alt {
  @apply italic font-bold;
}
